.banner{
    background-color: #114c36!important;
    position: relative;
    padding-bottom: 2rem;
    overflow: hidden;
    height: fit-content;
}
.bannerContent>p{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: white;
    font-weight: 500;
    display: inline;
}
.bannerImageContainer{
    position: relative;
    top:90px;
    height: 80vh;
}
.bannerImageContainer>img{
    width: 100%;
    position: absolute;
    top:0;
    left: 100%;
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 0.5s ease, left 0.5s ease, transform 1s ease-in-out;
    object-fit: cover;
    
}
.bannerImage.active{
    opacity: 1;
    left: 0;
    top: 0;
    transform: scale(1);
}
.bannerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem
}
.bannerContent>button{
    width: 150px;
    aspect-ratio: '2:1';
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}
.bannerContent>button>a>img{
    width: 100%;
}
.largebanner{
    display: block;
}
.smallbanner{
    display: none;
}

@media screen and (max-width:650px){
    .smallbanner{
        display: block;
    }
    .largebanner{
        display: none;
    }
    .bannerImageContainer{
        height: 55vh;
    }
    .bannerContent>p{
        font-size: 12px;
    }
    .bannerContent>button{
        font-size: 0.5rem;
        padding: 5px;
        width: 100px;
    }
    .bannerContent>button>img{
        width: 100%;
        padding: 5px;
    }
}