.logobar{
    width: 100%;
    }
    .logobar>ul{
        display: flex;
        list-style-type: none;
        padding: 10px 20px;
        justify-content: space-between;
        gap:1rem;
        flex-wrap: wrap;    
    }
    ul>li{
        text-align: center;
        flex-shrink: 0;
        width: 10rem;
    }
    li>p{
        text-transform: capitalize;
        line-height: 40px;
        font-size: 1.2rem;
        font-weight: 400;
    }
    li>img{
        width: 100%;
        transform: scale(1.05);
        transition: transform 0.3s ease;
        border-radius: 5px;
    }
    li>img:hover{
        transform: scale(1);
    }
    .sale{
        position: absolute;
        left: 0;
        background-color: #fed02f;
        border:'1px solid #fed02f';
        font-size: 1rem;
        font-weight: 500;
        color: #0f4c36;
        line-height: 12px;
        font-style: normal;
        border-radius:5px;
        padding: 0.5rem 1.3rem;
    }
    
    /* for small devices */
    @media  all and (max-width:650px) {
        .logobar>ul{
            display: flex;
            width: 100%;
            overflow-x: scroll;
            flex-wrap: nowrap;
        }
        .logobar>ul>li{
            width: 5rem;
        }
        .logobar>ul>li>img{
            width: 5rem;
        }
        .logobar>ul>li>p{
            margin: 3px 0;
        }
    }